* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    width: 100%;
    background: white;
}

a {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    text-decoration: none;
}

img {
    height: auto;
    width: 100%;
}

ul {
    list-style: none;
}

h1 {
    color: white;
    font-size: 1.5em;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}


/*NAVBAR*/

.navcontainer {
    position: absolute;
    top: 0;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.navlogo {
    padding: 2px;
    margin-left: 35px;
    margin-top: 20px;
    width: 80%;
    height: 40px;
    display: -webkit-flex;
    -webkit-margin-start: 10px;
    -moz-margin-start: 35px;
}

.navcontainer ul {
    margin-right: 30px;
    display: flex;
}

.navcontainer ul li {
    margin-top: 20px;
    padding: 10px;
}

.navcontainer ul li a:hover {
    border-bottom: 3px solid white;
    color: white;
}

.navcontainer ul.navmenu {
    margin-left: 300px;
}


/*NAVBAR HAMBURGESA*/

.hamburmenu {
    color: white;
    position: relative;
    min-height: 48px;
    width: 100%;
    display: none;
    background-color: transparent;
}

.hamburmenu a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 100%;
    background: #504d4d;
    font-variant: small-caps;
    text-shadow: 1px 1px #504d4d;
}

.hamburmenu a:hover {
    letter-spacing: 20px;
}

.hamburmenu nav {
    background: #504d4d;
}

.hamburmenu input[type="checkbox"],
.hamburmenu .fa-bars,
.hamburmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    padding: 0px;
    right: 20px;
    top: 25px;
    width: 24px;
    height: 24px;
}

.hamburmenu .fa-bars,
.hamburmenu .fa-times {
    font-size: 24px;
    pointer-events: none;
}

.hamburmenu .fa-times {
    margin-top: -12px;
}

.hamburmenu input[type="checkbox"] {
    opacity: 0;
}

.hamburmenu nav {
    display: none;
}

.hamburmenu input:checked~nav {
    display: block;
}

.hamburmenu input:checked~.fa-bars {
    display: none;
}

.hamburmenu input:not(:checked)~.fa-times {
    display: none;
}


/*HEADER*/

.header {
    width: 100%;
    height: 650px;
    background: url(img/header.jpg) no-repeat center center/cover;
    padding: 30px;
    margin-top: -50px;
    margin-bottom: 20px;
    display: flex;
}

.textos {
    margin-bottom: 20px;
    margin-left: 8px;
    align-self: flex-end;
}


/*NOSOTROS*/

.nosotros {
    padding: 20px 50px 0 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nosotros h1 {
    text-align: center;
    color: black;
    font-weight: 300;
}

.colum {
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.uno {
    margin: 10px 5px 0px 5px;
    width: 100%;
    height: 350px;
}

.uno img {
    display: flex;
    margin: auto;
    width: 30%;
    height: 30%;
}

.uno h1 {
    margin: 30px 50px;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-weight: bold;
    color: black;
}

.uno p {
    margin-left: 10px;
    margin-right: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 1em;
    color: black;
}


/*VENTA*/

.venta {
    padding: 20px 20px;
    max-width: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.venta h1 {
    text-align: center;
    color: black;
    font-weight: 300;
}

.columventa {
    margin: 20px 50px 20px 50px;
    display: flex;
    max-width: 1920px;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
}

.tarjetauno {
    margin-top: 10px;
    margin-right: 10px;
    border: rgba(128, 128, 128, 0.733) solid 0.5px;
    border-radius: 10px 10px;
    max-width: 550px;
    width: 100%;
    height: 680px;
    background: #f5f5f5;
}

.tarjetauno .imagen {
    width: 100%;
    height: 350px;
}

.tarjetauno img {
    display: flex;
    margin: auto;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
}

.tarjetauno h1 {
    margin: 10px 20px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: justify;
    font-weight: 300;
    color: black;
}

.tarjetauno p {
    margin: 10px 20px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: justify;
    font-size: 1em;
    color: black;
}

.tarjetauno h3 {
    margin: 10px 20px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: justify;
    font-size: 0.8em;
    color: #71b11f;
}

.tarjetauno .iconos {
    width: 10%;
    height: 10%;
    display: flex;
    margin: 5px 0 0 50px;
    /* Arriba | Derecha | Abajo | Izquierda */
    justify-content: end;
    display: -webkit-box;
    -webkit-justify-content: center;
    -webkit-margin-start: 90px;
    -moz-margin-start: 90px;
}

.iconos h3 {
    color: black
}

.boton {
    width: 90%;
    height: 9%;
    text-transform: uppercase;
    margin: 30px 0 0 20px;
    color: white;
    cursor: pointer;
    border-radius: 10px 10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1em;
    font-weight: bold;
    background: #de8716;
    border: none;
}

.btncontent {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.btn {
    width: 13%;
    height: 60px;
    text-transform: uppercase;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
    border-radius: 10px 10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    background: #71b11f;
    border: none;
}


/*BANNER*/

.bannercontainer {
    width: 100%;
    height: 300px;
    background: url(Img/encuentra.jpg) no-repeat center center/auto;
    padding: 30px;
    margin-bottom: 20px;
}

.bannercontainer h1 {
    padding: 20px;
}

.bannercontainer h3 {
    padding: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.7em;
    font-weight: 300/bold;
    color: white;
}

.bannercontainer .btnba {
    width: 12%;
    height: 20%;
    padding: 10px;
    margin: 40px 20px;
    color: white;
    cursor: pointer;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: #de8716;
    border: none;
}


/*FOOTER*/

footer {
    position: relative;
    bottom: 0;
    margin-top: 52px;
    width: 100%;
}

.navfootercontainer {
    position: absolute;
    bottom: 0;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    background: #504d4d;
}

.navfootercontainer ul {
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
}

.navfootercontainer ul li {
    font-weight: 300;
    margin-left: 10px;
    margin-top: 20px;
}

.navfootercontainer h1 {
    margin-top: 20px;
    font-size: 0.8em;
    font-weight: 300;
}

.navfooterautor {
    padding: 2px;
    margin-right: 25px;
    margin-top: 20px;
}

@media only screen and (min-width: 360px) and (max-width:408px) {
    * {
        width: 100%;
    }
    body {
        width: 100%;
    }
    html {
        width: 100%;
    }
    /*NAVBAR*/
    .navcontainer {
        top: 0;
        width: 100%;
    }
    .navlogo {
        padding: 2px;
        margin-left: 35px;
        margin-top: 20px;
        width: 180px;
        height: 40px;
        display: -webkit-flex;
        -webkit-margin-start: 10px;
        -moz-margin-start: 35px;
    }
    .navcontainer ul {
        display: none;
    }
    .hamburmenu {
        display: flex;
    }
    /*HEADER*/
    .header {
        width: 100%;
        height: 450px;
        padding: 10px;
        margin-bottom: 0px;
        display: flex;
    }
    .textos {
        margin-bottom: 20px;
        margin-left: 5px;
        font-size: 0.8em;
    }
    /*NOSOTROS*/
    .nosotros {
        padding: 20px 50px 0 90px;
        width: 100%;
        display: block;
    }
    .nosotros h1 {
        text-align: center;
        margin-left: -10px;
        color: black;
        font-weight: 300;
    }
    .colum {
        width: 100%;
        margin-top: 20px;
        margin-left: -30px;
        display: block;
    }
    .uno {
        margin-top: 10px;
        margin-right: 5px;
        width: 100%;
        height: 350px;
    }
    .uno img {
        width: 30%;
        height: 30%;
    }
    .uno h1 {
        margin: 10px 5px;
        font-weight: bold;
    }
    /*VENTA*/
    .venta {
        padding: 20px 20px;
        width: 100%;
        display: block;
    }
    .venta h1 {
        text-align: center;
        color: black;
        font-weight: 300;
    }
    .columventa {
        margin-left: 0px;
        margin-top: 20px;
        margin-right: 20px;
        display: block;
    }
    .tarjetauno {
        margin: 10px 0px;
        border: rgba(128, 128, 128, 0.733) solid 0.5px;
        border-radius: 10px 10px;
        width: 100%;
        height: 600px;
        background: #f5f5f5;
    }
    .tarjetauno .imagen {
        width: 100%;
        height: 250px;
    }
    .tarjetauno img {
        display: flex;
        margin: auto;
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 100%;
    }
    .tarjetauno h1 {
        margin: 10px 20px;
        text-align: justify;
    }
    .tarjetauno p {
        margin: 10px 20px;
        width: 70%;
        font-size: 1em;
        color: black;
    }
    .tarjetauno h3 {
        margin: 10px 20px;
        text-align: justify;
        font-size: 1em;
    }
    .tarjetauno .iconos {
        width: 10%;
        height: 10%;
        display: flex;
        margin: 5px 0 0 50px;
        justify-content: end;
        display: -webkit-box;
        -webkit-justify-content: center;
        -webkit-margin-start: 90px;
        -moz-margin-start: 90px;
    }
    .iconos img {
        margin-left: -30px;
    }
    .iconos h3 {
        color: black
    }
    .btncontent {
        margin-left: -80px;
    }
    .btn {
        width: 50%;
        height: 60px;
    }
    /*BANNER*/
    .bannercontainer {
        width: 100%;
        height: 300px;
        padding: 10px;
        margin-bottom: 0px;
    }
    .bannercontainer h1 {
        margin-top: 10px;
        font-size: 0.9em;
        padding: 5px;
    }
    .bannercontainer h3 {
        padding: 5px;
        margin-top: 10px;
        font-size: 0.8em;
        font-weight: 300/bold;
        color: white;
    }
    .bannercontainer .btnba {
        width: 50%;
        height: 20%;
        padding: 5px;
        margin: 20px 5px;
    }
    /*FOOTER*/
    footer {
        position: relative;
        bottom: 0;
        margin-top: 52px;
        width: 100%;
    }
    .navfootercontainer {
        font-size: 1em;
        display: block;
        width: 100%;
        background: #504d4d;
    }
    .navfootercontainer ul {
        margin-left: -20px;
        margin-bottom: 5px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .navfootercontainer h1 {
        margin-left: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 0.8em;
        font-weight: 300;
    }
}

@media only screen and (min-width: 410px) and (max-width: 575px) {
    .navlogo {
        padding: 2px;
        margin-left: 35px;
        margin-top: 20px;
        width: 180px;
        height: 40px;
        display: -webkit-flex;
        -webkit-margin-start: 10px;
        -moz-margin-start: 35px;
    }
    .navcontainer ul {
        display: none;
    }
    .hamburmenu {
        margin-left: -50px;
        display: block;
    }
    .hamburmenu a {
        margin-left: 50px;
    }
    /*HEADER*/
    .header{
        width: 100%;
        height: 450px;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
    }
    .textos {
        margin-bottom: 20px;
        margin-left: 5px;
        font-size: 0.8em;
    }
    /*NOSOTROS*/
    .nosotros{
        padding: 10px 50px 0 50px;
        width: 100%;
        display: block;
    }
    .nosotros h1 {
        text-align: center;
        margin-left: -10px;
    }
    .colum {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .uno {
        margin-top: -10px;
        margin: 0 auto;
        width: 100%;
        height: 350px;
    }
    .uno img {
        width: 30%;
        height: 30%;
    }
    .uno h1 {
        margin: 10px 5px;
        font-weight: bold;
    }
    .uno p {
        margin: 0;
        ;
    }
    /*VENTA*/
    .venta{
        padding: 20px 20px;
        margin-top: -30px;
        width: 100%;
        display: block;
    }
    .venta h1 {
        margin-left: -40px;
    }
    .columventa {
        margin: 0 auto;
        display: block;
    }
    .tarjetauno {
        margin: 20px 20px 20px 20px;
        width: 90%;
        height: 680px;
    }
    .tarjetados {
        height: 650px;
    }
    .tarjetatres {
        height: 640px;
    }
    .tarjetauno .imagen {
        width: 100%;
        height: 250px;
    }
    .tarjetauno h1 {
        margin: 10px 20px;
        text-align: justify;
    }
    .tarjetauno p {
        margin: 10px 20px;
        width: 70%;
        font-size: 1em;
        color: black;
    }
    .tarjetauno h3 {
        margin: 10px 20px;
        text-align: justify;
        font-size: 1em;
    }
    .tarjetauno .iconos {
        width: 12%;
        height: 12%;
        display: flex;
        justify-content: flex-start;
        margin-left: 30px;
    }
    .iconos img {
        margin-left: -2px;
    }
    .iconos h3 {
        color: black
    }
    .btncontent {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .btn {
        width: 50%;
        height: 55px;
    }
    /*BANNER*/
    .bannercontainer {
        width: 100%;
        height: 300px;
        padding: 10px;
        margin-bottom: 0px;
    }
    .bannercontainer h1 {
        margin-top: 10px;
        font-size: 0.9em;
        padding: 5px;
    }
    .bannercontainer h3 {
        padding: 5px;
        width: 70%;
        margin-top: 10px;
        font-size: 0.8em;
        font-weight: 300/bold;
        color: white;
    }
    .bannercontainer .btnba {
        width: 50%;
        height: 20%;
        padding: 5px;
        margin: 20px 5px;
    }
    /*FOOTER*/
    footer {
        position: relative;
        bottom: 0;
        margin-top: 52px;
        width: 100%;
    }
    .navfootercontainer {
        font-size: 1em;
        display: block;
        width: 100%;
        background: #504d4d;
    }
    .navfootercontainer ul {
        margin-left: -20px;
        margin-bottom: 5px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .navfootercontainer h1 {
        margin-left: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 0.8em;
        font-weight: 300;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    body {
        width: 100%;
    }
    .logocontainer {
        margin-left: -15px;
        margin-right: -150px;
    }
    .navlogo {
        padding: 2px;
        margin-top: 20px;
        width: 150px;
        height: 40px;
        display: -webkit-flex;
        -webkit-margin-start: 10px;
        -moz-margin-start: 35px;
    }
    .navcontainer {
        padding-right: 0px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
    }
    .navcontainer ul {
        font-size: 0.7em;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
    }
    /*HEADER*/
    .header {
        width: 100%;
        height: 450px;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
    }
    .textos {
        margin-bottom: 20px;
        margin-left: 5px;
        font-size: 0.8em;
    }
    /*NOSOTROS*/
    .nosotros{
        padding: 10px 50px 0 30px;
        width: 100%;
        display: block;
    }
    .nosotros h1 {
        text-align: center;
        margin-left: -10px;
    }
    .colum {
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
        display: block;
    }
    .uno {
        margin-top: -10px;
        margin-right: 5px;
        width: 100%;
        height: 350px;
    }
    .uno img {
        width: 25%;
        height: 25%;
    }
    .uno h1 {
        margin: 10px 5px;
        font-weight: bold;
    }
    .uno p {
        margin-left: 30px;
    }
    .dos {
        margin-top: -80px;
    }
    .tres {
        margin-top: -90px;
    }
    /*VENTA*/
    .venta{
        padding: 20px 20px;
        margin-top: -60px;
        width: 100%;
        display: block;
    }
    .venta h1 {
        margin-left: -40px;
    }
    .columventa {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        display: block;
    }
    .tarjetauno {
        margin: 10px 40px;
        width: 80%;
        height: 600px;
    }
    .tarjetados {
        height: 600px;
    }
    .tarjetatres {
        height: 600px;
    }
    .tarjetauno .imagen {
        width: 100%;
        height: 250px;
    }
    .tarjetauno h1 {
        margin: 10px 20px;
        text-align: justify;
    }
    .tarjetauno p {
        margin: 10px 20px;
        width: 70%;
        font-size: 1em;
        color: black;
    }
    .tarjetauno h3 {
        margin: 10px 20px;
        text-align: justify;
        font-size: 1em;
    }
    .tarjetauno .iconos {
        width: 12%;
        height: 12%;
        display: flex;
        justify-content: flex-start;
        margin-left: 30px;
    }
    .iconos img {
        margin-left: -2px;
    }
    .iconos h3 {
        color: black
    }
    .btncontent {
        width: 60%;
        display: block;
        justify-content: center;
        margin-left: 155px;
    }
    .btn {
        width: 50%;
        height: 55px;
    }
    /*BANNER*/
    .bannercontainer {
        width: 100%;
        height: 300px;
        padding: 20px;
        margin-bottom: 0px;
    }
    .bannercontainer h1 {
        margin-top: 10px;
        font-size: 1.2em;
        padding: 5px;
    }
    .bannercontainer h3 {
        padding: 5px;
        width: 100%;
        margin-top: 10px;
        font-size: 0.9em;
        font-weight: 300/bold;
        color: white;
    }
    .bannercontainer .btnba {
        width: 40%;
        height: 40%;
        padding: 5px;
        margin: 20px 5px;
    }
    /*FOOTER*/
    footer {
        position: relative;
        bottom: 0;
        margin-top: 45px;
        width: 100%;
    }
    .navfootercontainer {
        font-size: 0.9em;
        width: 100%;
        background: #504d4d;
    }
    .navfootercontainer ul {
        margin-left: -30px;
        margin-bottom: 5px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .navfootercontainer h1 {
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 0.8em;
        font-weight: 300;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1195px) {
    body {
        width: 100%;
    }
    /*NAVBAR*/
    .navlogo {
        width: 140%;
        height: 40px;
        margin-left: 30px;
    }
    /*NOSOTROS*/
    .nosotros h1 {
        margin-left: -50px;
    }
    .colum {
        width: 120%;
        margin-top: 20px;
        margin-left: -80px;
    }
    .uno {
        margin-top: -20px;
        margin-right: 0px;
        width: 110%;
        height: 350px;
    }
    .uno img {
        display: flex;
        margin: auto;
        width: 35%;
        height: 35%;
    }
    .uno h1 {
        margin: 10px 30px;
        font-size: 1.1em;
    }
    .uno p {
        margin-left: 10px;
        margin-right: 0px;
    }
    /*VENTA*/
    .venta{
        width: 100%;
    }
    .venta h1 {
        text-align: center;
        color: black;
        font-weight: 300;
    }
    .columventa {
        margin-left: -18px;
        margin-top: 20px;
        display: flex;
        width: 105%;
    }
    .tarjetauno {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 8px;
        border: rgba(128, 128, 128, 0.733) solid 0.5px;
        border-radius: 10px 10px;
        width: 100%;
        height: 520px;
    }
    .tarjetauno .imagen {
        width: 100%;
        height: 200px;
    }
    .tarjetauno img {
        width: 100%;
        height: 100%;
    }
    .tarjetauno h1 {
        margin: 10px 20px;
        text-align: justify;
        font-size: 1.1em;
    }
    .tarjetauno p {
        margin: 10px 20px;
        text-align: justify;
        font-size: 0.9em;
    }
    .tarjetauno h3 {
        margin: 10px 20px;
        text-align: justify;
        font-size: 1em;
    }
    .tarjetauno .iconos {
        width: 12%;
        height: 10%;
        margin-left: 15px;
    }
    .iconos h3 {
        color: black
    }
    .boton {
        margin: 30px 0 0 10px;
    }
    .btn {
        width: 25%;
        height: 60px;
        margin-right: -40px;
    }
    /*BANNER*/
    .bannercontainer h1 {
        font-size: 1.5em;
        padding: 10px;
    }
    .bannercontainer h3 {
        padding: 10px;
        font-size: 1em;
    }
    .bannercontainer .btnba {
        width: 25%;
        height: 20%;
        padding: 5px;
        margin: 40px 10px;
    }
}